<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- Define your beans here -->
    <bean id = "mycircle"
         class="Areaofcircle.Acircle">
         <property name="radius">
         <value>25</value>
         </property>
          <property name="ob">
        <ref bean="bref"/>
        </property>
    </bean>
    
    <bean id="bref"
        class="Areaofcircle.PerimeterOfCircle">
        <property name="radius">
        <value>25</value>
        </property>
    </bean>
 </beans>
        





